---
import Layout from "../layouts/Layout.astro"
import divkLogo from "../assets/divk-logo.svg"
import Header from "../components/Header.astro"
---

<Layout title="Werner Dienstleistungs eG">
  <Header>Werner Dienstleistungs eG (In Gründung)</Header>
  <p>
    Mitglied im: <br /><img src={divkLogo.src} width="300" alt="DIVK Logo" />
  </p>
</Layout>
