---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Werner Dienstleistungs eG">
	<main>
		Hello
	</main>
</Layout>

<style>
	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
