---
// FIXME: Simplify imports
import "@effective/css-reset/dist/assets/ResetNative.css"
import "@effective/css-reset/dist/assets/SensibleEnhancements.css"
import "@effective/css-reset/dist/assets/ResponsiveType.css"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Werner Dienstleistungs eG (In Gründung)"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  footer {
    padding: 2rem;
  }
</style>
